body {
  background-color: #333647;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.text {
  margin-top: 35vh;
  margin-left: 30%;
  font-size: 3rem;
}

#clock {
  font-size: 10rem;
  text-align: center;
}
