body {
  background-color: #333647;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  margin-top: 35vh;
  max-width: 50%;
  margin-inline: auto;
}

.text {
  font-size: 3vw;
}

#clock {
  font-size: 10vw;
}

@media (max-width: 1300px) {
  .text {
    font-size: 6vw;
  }

  #clock {
    font-size: 10vw;
  }
}
